flows.json
[{"id":"f509af13.34a2f8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"96004a04.8bdc2","type":"function","z":"f509af13.34a2f8","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"E77NIGAyAq-Rsd8F3tehtWc31_LzLKImbuuL7BF2yICs\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["7084fd8e.0519f4"]]},{"id":"7084fd8e.0519f4","type":"http request","z":"f509af13.34a2f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":368.9999952316284,"wires":[["1b73c852.1d76a"]]},{"id":"d856f680.a02ab","type":"inject","z":"f509af13.34a2f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":293.99999809265137,"wires":[["96004a04.8bdc2"]]},{"id":"3475fad2.dba9fe","type":"debug","z":"f509af13.34a2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"1b73c852.1d76a","type":"function","z":"f509af13.34a2f8","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":331.9999990463257,"wires":[["92c94015.44807"]]},{"id":"92c94015.44807","type":"http request","z":"f509af13.34a2f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/d63673b0-3d67-479f-a49d-91d99d612315/predictions?version=2020-10-07","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":275.9999990463257,"wires":[["1fc33f55.6fed99","100260a6.18890f"]]},{"id":"6ee3293a.0c7768","type":"ui_form","z":"f509af13.34a2f8","name":"","label":"","group":"826f3d45.9b5878","order":2,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":422.9999952316284,"wires":[["96004a04.8bdc2"]]},{"id":"f0eecb18.547a88","type":"ui_text","z":"f509af13.34a2f8","group":"826f3d45.9b5878","order":1,"width":0,"height":0,"name":"","label":"Prediction & Probability","format":"{{msg.payload}}","layout":"col-center","x":910,"y":100,"wires":[]},{"id":"1fc33f55.6fed99","type":"function","z":"f509af13.34a2f8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":171.60000133514404,"wires":[["3475fad2.dba9fe","f0eecb18.547a88"]]},{"id":"100260a6.18890f","type":"debug","z":"f509af13.34a2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":360,"wires":[]},{"id":"826f3d45.9b5878","type":"ui_group","z":"","name":"Default","tab":"b8b6273c.3dd6d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8b6273c.3dd6d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]